@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #757DA9, #3F4464 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1F2232;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#757DA9 ;
    text-align: center;
    text-shadow: 1px 1px 2px #6e759d;

}

h2{
    color: #FFC857;

}


p{
    text-align: justify;
}