@charset "utf - 8";

body{
    background-color: rgba(81, 80, 80, 0.755);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
    text-align: center;
    padding: 1px;
    margin: 1px;
    background-color: rgba(159, 164, 173, 0.841);

}

main{
   font: normal 17px 'work sans';
   background-color: aliceblue;
   font-size: 18px;
   text-indent: 10px ;
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
}


aside:hover{
    display: block;
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
}

nav {
    display: flex;
    justify-content: space-around;
    box-shadow: -33px -2px 31px 7px rgba(182, 235, 60, 0.772);

}

footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    text-align: center;
    color: white;
}

h2:hover{
    background-color: aqua;
}