@charset "utf-8"

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e

*/

:root{
    --cor0:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;
}
body {
    background-color:#ebe5c5;
}

header > h1{
    color: var(--cor05);

}

main > h1{

    color: var(--cor05);

}