@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
    font-weight: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e

*/

*{
    margin: 0px;
    padding: 0px;
}



:root{
    --cor0:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --font-padrao: arial, verdana, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

body {
    background-color:var(--cor0);
    font-family: var(--font-padrao);
}

main p {
    margin: 15px 0px;
    text-indent: 15px;
    text-align: justify;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: var(--cor04);
    font-weight: bold;
    background-color: var(--cor01);
    padding: 2px 6px;
    border-radius: 10px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
    border-radius: 10px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor04);

}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header >p{
    font-family:var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    color:white;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);

}

nav{
    background-color:var(--cor05) ;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.365);
    
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 1s ;
}

nav >a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.492) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
}

main img.pequena{
  max-width: 350px;
    display: block;
    margin: auto;

}

main  h1{

    color:var(--cor05);
    font-family: var(--fonte-android);

}

main h2{
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor01),transparent);
    text-indent: 8px;
}

aside{
    padding: 10px;
    border-radius: 9px;
    background-color: var(--cor01);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);

}

aside > h3 {
    background-color: var(--cor04);
    color: white;
    text-indent: 10px;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    text-indent: 10px;
    columns: 2;
}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: .8em;
    padding: 5px;
}